<h1><%= @plot.name %></h1>
<h2>Plants in <%= @plot.name %> Plot</h2>
<ul>
  <% @plot_plants.each do |plant| %>
    <li id="plant-<%=plant.id%>">
      <h3><%= link_to plant.plant_name.titleize, plant_path(plant.id) %></h3>
      <% if plant.quantity.nil? %>
        <p>Quantity planted: Not yet planted </p>
      <% else %>
        <p>Quantity planted: <%= plant.quantity %></p>
      <% end %>
      <% if plant.date_planted.nil? %>
        <p>Date planted: Not yet planted </p>
      <% else %>
        <p>Date planted: <%= plant.date_planted %></p>
      <% end %>
      <p><%= button_to "Remove Plant", garden_plot_plot_plant_path(@garden.id, @plot.id, plant.id), method: :delete, data: {confirm: "Are you sure?"} %></p>
    </li>
  <% end %>
</ul>
<%= button_to "Plant a new plant in #{@plot.name}", discover_plants_path(@garden.id, @plot.id), method: :get, params: { state_code: @garden.state_code, zip_code: @garden.zip_code } %>