<h1><%= "#{@user.username}" %>'s Dashboard</h1>

<%= button_to "Create New Garden", new_garden_path, method: :get %>

<h3><%= "#{@user.username}" %>'s Gardens</h3>

<% @gardens.each do |garden| %>
  <div id="garden-<%=garden.id%>">
  <%= link_to "#{garden.name}", "/gardens/#{garden.id}" %>
  <%= link_to 'Delete This Garden', "/gardens/#{garden.id}", method: :delete, :confirm => "Are you sure?" %>
  </div>
<% end %>
