<%= render partial: "/breadcrumbs" %>
<div class="container">
  <h1>Discover Native Plants in Your State</h1>

  <div id = "display_options">
    <div id="search"><p>
      <%= form_with url: discover_plants_path(@garden.id, @plot.id), method: :get, local: :true do |f| %>
        <%= f.label :search_name, "Search by name (common & scientific)" %>
        <%= f.text_field :search_name, value: @search_name %>
        <%= f.label :sort_by, "Sort by " %>
        <%= f.select :sort_by, options_for_select([
          ["Common Name", :common_name],
          ["Scientific Name", :scientific_name],
          ["Min. Temperature", :temperature_min],
          ["pH Max", :ph_maximum], 
          ["pH Min", :ph_minimum]], @sort_by)  %>
        <%= f.select :sort_order, options_for_select([["Ascending", "asc"], ["Descending", "desc"]], @sort_order) %>
        <%= f.submit "Submit" %>
      <% end %>
    </p></div>
  </div>

  <div id="plant_table">
    <%= form_with url: garden_plot_plants_path(@garden.id, @plot.id), method: :post do |f| %>
      <p><%= f.submit "Add Selected Plants to Plot"%></p>
      <table>
        <tr>
          <th>Add Plant To Garden?</th>
          <th>Common Name</th>
          <th>Scientific Name</th>
          <th>Minimum Temperature</th>
          <th>Suitable For Hardiness Zone</th>
          <th>Water Usage</th>
          <th>pH Max</th>
          <th>pH Min</th>
          <th>Toxicity</th>
        </tr>
        <% @plants = @plants.reverse if @sort_order == "desc" %>
        <% @plants.each do |plant| %>
          <tr id="plant-<%= plant.id %>">
            <td>
              <%= f.check_box "plant_ids", { multiple: true }, plant.id, nil %>
            </td>
            <td><%= link_to plant.common_name.titleize, "/plants/#{plant.id}" %></td>
            <td><%= plant.scientific_name.titleize %></td>
            <td><%= plant.temperature_min %></td>
            <td><%= plant.suitable_for_hz %></td>
            <td><%= plant.moisture_use %></td>
            <td><%= plant.ph_maximum %></td>
            <td><%= plant.ph_minimum %></td>
            <td><%= plant.toxic %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>