<h1>Create New Garden</h1>

<%= form_with url: gardens_path, method: :post, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true %>

  <%= f.label :zip_code %>
  <%= f.text_field :zip_code, maxlength: 5, minlength: 5 %>

  <%= f.label :state_code %>
  <%= f.select :state_code, options_for_select(us_states), required: true %>

  <%= f.submit "Create Garden" %>
<% end %>
