<p><%= @garden.name %></p>

<p>Current Forecast: <%= @garden.weather_forecast.first.detailed_forecast %></p>
<ul>
  <% @plots.each do |plot| %>
    <li id="plot-<%= plot.id %>">
      <p>Name: <%= plot.name %></p>
      <p>Min Soil PH: <%= plot.soil_ph_min %></p>
      <p>Max Soil PH: <%= plot.soil_ph_max %></p>
      <p>Shade Tolerant: <%= plot.shade_tolerant? %></p>
      <p>Contains Toxic: <%= plot.contains_toxic? %></p>
      <p><%= button_to "Delete #{plot.name}", plot_path(plot.id), method: :delete, params: {garden_id: @garden.id}, data: { confirm: "Are you sure you want to remove plot: #{plot.name}?" } %></p>
    </li>
  <% end %>
</ul>
<p><%= button_to "Add a new plot", new_garden_plot_path(@garden.id), method: :get %></p>
