<!DOCTYPE html>
<html>
  <head>
    <title>DemeterFe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <h2>###Placeholder###</h2>

  <% if !current_user %>
    <%= button_to "Log in with Google", '/auth/google_oauth2', method: :post %>
  <% else %>
    <%= button_to 'Return to Dashboard', dashboard_path, method: :get %>
    <%= button_to "Log Out", logout_path, method: :delete %>
  <% end %>

    <% flash.each do |type, msg| %>
      <div>
      <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
