<!DOCTYPE html>
<html>
  <head>
    <title>DemeterFe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
        <div class="container">
          <%= link_to "en root", landing_page_path, class: "navbar-brand", style: "font-family: allura; font-size: 40px; font-weight: bold;" %>
            <ul class="navbar-nav ms-auto">
              <% if !current_user %>
                <li class="nav-item">
                  <%= button_to 'Login with Google', '/auth/google_oauth2', method: :post, class: "btn btn-outline-primary" %>
                </li>
              <% else %>
                <li class="<%= current_page?(dashboard_path) ? "nav-item active" : "nav_item" %>">
                  <%= link_to 'Return to Dashboard', dashboard_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Log Out', logout_path, method: :delete, class: "nav-link" %>
                </li>
              <% end %>
          </div>
        </div>
      </nav>
    <div class="container">
      <div class="card border-0 shadow my-5 bg-light">
        <div class="card-body p-5">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
